{
	"extends": [
		"airbnb",
		"plugin:react-hooks/recommended",
		"plugin:import/react"
	],
	"rules": {
		"import/prefer-default-export": "off",
		"indent": [
			2,
			"tab",
			{
				"SwitchCase": 1,
				"VariableDeclarator": 1
			}
		],
		"no-tabs": 0,
		"react/prop-types": 0,
		"react/jsx-indent": [
			2,
			"tab"
		],
		"react/jsx-indent-props": [
			2,
			"tab"
		]
	},
	"settings": {
		"import/resolver": {
			"alias": {
				"map": [
					["@", "./src"],
				],
				"extensions": [".js", ".jsx"]
			}
		}
	},
	"env": {
		"browser": true
	}
}
