.home-hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;

	&__title {
		margin-bottom: 2.4rem;
	}

	&__info {
		margin-bottom: 4rem;
	}

	@include up-to-medium {
		&__title {
			margin-bottom: 1.6rem;
		}

		&__info {
			margin-bottom: 2.4rem;
		}
	}
}
