.button {
	@include button;
	border-radius: $border-radius-100;
	background-color: $white;
	padding: 1.6rem 4rem;
	text-transform: uppercase;
	cursor: pointer;
	transition: background-color 0.2s ease, color 0.2s ease, border 0.2s ease;

	&--secondary {
		background-color: transparent;
		color: $white;
		border: 2px solid $white;

		&:hover, &:active, &:focus {
			background-color: $secondary;
			border-color: $secondary;
			color: $white;
		}
	}

	&--primary {
		&:hover, &:active, &:focus {
			background-color: $primary;
			color: $white;
		}
	}

	&--always-desktop-padding {
		padding: 1.6rem 4rem;
	}

	@include up-to-medium {
		padding: 0.8rem 1.6rem;

		&--always-desktop-padding {
			padding: 1.6rem 4rem;
		}
	}
}
