.collapsible {
  $this: &;

  &__button {
    background-color: transparent;
    display: flex;
    align-items: center;
    margin-bottom: 2.4rem;
    width: 100%;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    position: relative;
    z-index: 5;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      margin-bottom: .8rem;
    }
  }

  &__icon {
    position: absolute;
  }

  &__chevron {
    margin-left: auto;
    transition: transform .2s ease-in-out;
    width: 3.6rem;

    &--active {
      transform: rotate(180deg);
    }
  }

  &__body {
    margin-bottom: 2.4rem;
    text-align: left;
    white-space: pre-line;
    margin-left: 5.6rem;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.08em;
  }

  &__collapse {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);

    &--gradient {
      .app__content {
        border-color: transparent;
      }

      &:after {
        pointer-events: none;
        transition: opacity 300ms;
        will-change: opacity;
        opacity: 1;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(transparent 50%, white);
      }
    }

    &--active {
      margin-bottom: 1.6rem;

      #{$this}__button {
        margin-bottom: 0.8rem;
      }

      &:after {
        opacity: 0;
      }
    }
  }
}


