.hero-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;

  &__icon {
    width: 6.4rem;
    height: 6.4rem;
    margin-bottom: 3.2rem;
  }

  &__title {
    margin-bottom: 3.2rem;
    text-transform: uppercase;
    max-width: 62rem;
  }

  @include up-to-medium {
    &__icon {
      width: 5.6rem;
      height: 5.6rem;
    }
  }
}

.hero-section-background {
  height: 100%;
}
