.home-why-us {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 8rem 10% 8rem 0;

  &__info {
    white-space: pre-line;
  }

  &__text-container {
    max-width: 54rem;
    margin-left: 12rem;
  }

  &__image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__box-empty {
    width: 24rem;
    height: 5.9rem;
    border: 4px solid $secondary;
    background-color: transparent;
    position: absolute;
    bottom: -3rem;
    right: -5rem;
  }

  &__box {
    width: 12rem;
    height: 8rem;
    background-color: $secondary;
    position: absolute;
    top: -3rem;
    right: -5rem;
  }

  &__point-image-container {
    display: flex;
  }

  &__image {
    width: 100%;
    position: absolute !important;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__section-background {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-75%, -50%);

  }

  @include up-to-medium {
    @include regular-section-padding;

    &__text-container {
      margin: 0;
    }

    &__title {
      margin-bottom: 1.6rem;
    }

    &__info {
      margin-bottom: 2.4rem;
    }
  }


  @include up-to-medium-large {
    &__image-container {
      display: none;
    }
  }

  @media only screen and (min-width: 1720px) {
    padding-right: 0;
    padding-left: 0;
    width: 144rem;
    margin: 0 auto;

    &__image {
      width: 144rem;
    }
  }
}
