.home-transportation {
  height: 100%;
  position: relative;
  z-index: 2;

  &__text-container {
    max-width: 88rem;
  }

  @include up-to-medium-large {
    padding-top: 12.2rem;
    padding-bottom: 12.2rem;
  }
}

.home-transportation-background {
  height: 100%;
}
