.home-hero-section {
	height: 100%;

	.splide__track {
		height: 100vh;
	}

	.splide__pagination__page {
		width: 12px;
		height: 12px;
        margin-right: 1.6rem;
		margin-bottom: 4.0rem;
        opacity: 1;

		&:not(:last-child) {
			margin: 0 1.6rem 0 0;
	    }
	}

	.splide__arrow {
		display: none;
	}

	&__image {
		height: 100vh;
	}

	&__title {
		margin-bottom: 2.4rem;
	}

	&__info {
		margin-bottom: 4rem;
		max-width: 88rem;
	}

	&__hero-text-container {
		position: absolute;
		z-index: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100% !important;
		@include regular-section-padding;
	}

	&__image-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.2);
		z-index: 1;
	}

	@include up-to-medium {
		&__title {
			margin-bottom: 1.6rem;
		}

		&__info {
			margin-bottom: 2.4rem;
		}
	}
}
