.section {
	padding: 12rem $section-side-padding;

	@include up-to-medium {
		padding: 8rem $section-side-mobile;
	}

	@media only screen and (min-width: 1720px) {
		padding-right: 0;
		padding-left: 0;
		width: 144rem;
		margin: 0 auto;
	}
}
